<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Airline Reservation </title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="~/css/app.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/components.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="~/css/custom.css">
    <link rel='shortcut icon' type='image/x-icon' href='~/img/flyeasy.png' />
</head>
<body>
    <div class="loader"></div>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar sticky">
                <div class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li>
                            <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
									collapse-btn"> <i data-feather="align-justify"></i></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link nav-link-lg fullscreen-btn">
                                <i data-feather="maximize"></i>
                            </a>
                        </li>
                        <li>
                            <form class="form-inline mr-auto">
                                <div class="search-element">
                                    <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="200">
                                    <button class="btn" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav navbar-right">
                    <li class="dropdown dropdown-list-toggle">
                        <a href="#" data-toggle="dropdown"
                           class="nav-link nav-link-lg message-toggle">
                            <i data-feather="mail"></i>
                            <span class="badge headerBadge1">
                                6
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
                            <div class="dropdown-header">
                                Messages
                                <div class="float-right">
                                    <a href="#">Mark All As Read</a>
                                </div>
                            </div>
                            <div class="dropdown-list-content dropdown-list-message">
                                <a href="#" class="dropdown-item">
                                    <span class="dropdown-item-avatar
											text-white">
                                        <img alt="image" src="~/img/users/user-1.png" class="rounded-circle">
                                    </span> <span class="dropdown-item-desc">
                                        <span class="message-user">
                                            John
                                            Deo
                                        </span>
                                        <span class="time messege-text">Please check your mail !!</span>
                                        <span class="time">2 Min Ago</span>
                                    </span>
                                </a> <a href="#" class="dropdown-item">
                                    <span class="dropdown-item-avatar text-white">
                                        <img alt="image" src="~/img/users/user-2.png" class="rounded-circle">
                                    </span> <span class="dropdown-item-desc">
                                        <span class="message-user">
                                            Sarah
                                            Smith
                                        </span> <span class="time messege-text">
                                            Request for leave
                                            application
                                        </span>
                                        <span class="time">5 Min Ago</span>
                                    </span>
                                </a> <a href="#" class="dropdown-item">
                                    <span class="dropdown-item-avatar text-white">
                                        <img alt="image" src="~/img/users/user-5.png" class="rounded-circle">
                                    </span> <span class="dropdown-item-desc">
                                        <span class="message-user">
                                            Jacob
                                            Ryan
                                        </span> <span class="time messege-text">
                                            Your payment invoice is
                                            generated.
                                        </span> <span class="time">12 Min Ago</span>
                                    </span>
                                </a> <a href="#" class="dropdown-item">
                                    <span class="dropdown-item-avatar text-white">
                                        <img alt="image" src="~/img/users/user-4.png" class="rounded-circle">
                                    </span> <span class="dropdown-item-desc">
                                        <span class="message-user">
                                            Lina
                                            Smith
                                        </span> <span class="time messege-text">
                                            hii John, I have upload
                                            doc
                                            related to task.
                                        </span> <span class="time">
                                            30
                                            Min Ago
                                        </span>
                                    </span>
                                </a> <a href="#" class="dropdown-item">
                                    <span class="dropdown-item-avatar text-white">
                                        <img alt="image" src="~/img/users/user-3.png" class="rounded-circle">
                                    </span> <span class="dropdown-item-desc">
                                        <span class="message-user">
                                            Jalpa
                                            Joshi
                                        </span> <span class="time messege-text">
                                            Please do as specify.
                                            Let me
                                            know if you have any query.
                                        </span> <span class="time">
                                            1
                                            Days Ago
                                        </span>
                                    </span>
                                </a> <a href="#" class="dropdown-item">
                                    <span class="dropdown-item-avatar text-white">
                                        <img alt="image" src="~/img/users/user-2.png" class="rounded-circle">
                                    </span> <span class="dropdown-item-desc">
                                        <span class="message-user">
                                            Sarah
                                            Smith
                                        </span> <span class="time messege-text">Client Requirements</span>
                                        <span class="time">2 Days Ago</span>
                                    </span>
                                </a>
                            </div>
                            <div class="dropdown-footer text-center">
                                <a href="#">View All <i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown dropdown-list-toggle">
                        <a href="#" data-toggle="dropdown"
                           class="nav-link notification-toggle nav-link-lg">
                            <i data-feather="bell" class="bell"></i>
                        </a>
                        <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
                            <div class="dropdown-header">
                                Notifications
                                <div class="float-right">
                                    <a href="#">Mark All As Read</a>
                                </div>
                            </div>
                            <div class="dropdown-list-content dropdown-list-icons">
                                <a href="#" class="dropdown-item dropdown-item-unread">
                                    <span class="dropdown-item-icon bg-primary text-white">
                                        <i class="fas
												fa-code"></i>
                                    </span> <span class="dropdown-item-desc">
                                        Template update is
                                        available now! <span class="time">
                                            2 Min
                                            Ago
                                        </span>
                                    </span>
                                </a> <a href="#" class="dropdown-item">
                                    <span class="dropdown-item-icon bg-info text-white">
                                        <i class="far
												fa-user"></i>
                                    </span> <span class="dropdown-item-desc">
                                        <b>You</b> and <b>
                                            Dedik
                                            Sugiharto
                                        </b> are now friends <span class="time">
                                            10 Hours
                                            Ago
                                        </span>
                                    </span>
                                </a> <a href="#" class="dropdown-item">
                                    <span class="dropdown-item-icon bg-success text-white">
                                        <i class="fas
												fa-check"></i>
                                    </span> <span class="dropdown-item-desc">
                                        <b>Kusnaedi</b> has
                                        moved task <b>Fix bug header</b> to <b>Done</b> <span class="time">
                                            12
                                            Hours
                                            Ago
                                        </span>
                                    </span>
                                </a> <a href="#" class="dropdown-item">
                                    <span class="dropdown-item-icon bg-danger text-white">
                                        <i class="fas fa-exclamation-triangle"></i>
                                    </span> <span class="dropdown-item-desc">
                                        Low disk space. Let's
                                        clean it! <span class="time">17 Hours Ago</span>
                                    </span>
                                </a> <a href="#" class="dropdown-item">
                                    <span class="dropdown-item-icon bg-info text-white">
                                        <i class="fas
												fa-bell"></i>
                                    </span> <span class="dropdown-item-desc">
                                        Welcome to Airlines <span class="time">Yesterday</span>
                                    </span>
                                </a>
                            </div>
                            <div class="dropdown-footer text-center">
                                <a href="#">View All <i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown"
                           class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                            <img alt="image" src="~/img/user.png"
                                 class="user-img-radious-style"> <span class="d-sm-none d-lg-inline-block"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right pullDown">
                            <div class="dropdown-title">Admin@* @Model[0].admin_name *@</div>
                            <a href="@Url.Action("profile","admin")" class="dropdown-item has-icon">
                                <i class="far
										fa-user"></i> Profile
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="@Url.Action("logout","admin")" class="dropdown-item has-icon text-danger">
                                <i class="fas fa-sign-out-alt"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="main-sidebar sidebar-style-2">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="@Url.Action("index","admin")">
                            <img alt="image" src="~/img/flyeasy.png" class="header-logo" /> <span class="logo-name">Airlines </span>
                        </a>
                    </div>
                    <ul class="sidebar-menu">
                        <li class="menu-header">Admin</li>
                        <li class="dropdown active">
                            <a href="@Url.Action("index","admin")" class="nav-link"><i data-feather="home"></i><span>Dashboard</span></a>
                        </li>
                        <li class="dropdown">
                            <a href="@Url.Action("FetchUsers","admin")" class="nav-link"><i data-feather="users"></i><span>Users</span></a>
                        </li>
                        <li class="dropdown">
                            <a href="@Url.Action("FetchCategory","admin")" class="nav-link"><i data-feather="list"></i><span>Category</span></a>
                        </li>
                        <li class="dropdown">
                            <a href="@Url.Action("FetchAccessory","admin")" class="nav-link"><i data-feather="server"></i><span>Accessory</span></a>
                        </li>
                        @*  <li class="dropdown">
                        <a href="@Url.Action("FetchProduct","admin")" class="nav-link"><i data-feather="shopping-bag"></i><span>Product</span></a>
                        </li> *@
                        <li class="dropdown">
                            <a href="@Url.Action("FetchPlants","admin")" class="nav-link"><i data-feather="slack"></i><span>Plants</span></a>
                        </li>
                        <li class="dropdown">
                            <a href="@Url.Action("FetchCart","admin")" class="nav-link"><i data-feather="shopping-cart"></i><span>Cart</span></a>
                        </li>
                        <li class="dropdown">
                            <a href="@Url.Action("FetchOrder","admin")" class="nav-link"><i data-feather="truck"></i><span>Order</span></a>
                        </li>
                        <li class="dropdown">
                            <a href="@Url.Action("FetchReviews","admin")" class="nav-link"><i data-feather="heart"></i><span>Reviews</span></a>
                        </li>
                        <li class="dropdown">
                            <a href="@Url.Action("FetchFeedBack","admin")" class="nav-link"><i data-feather="mail"></i><span>Feedback</span></a>
                        </li>
                        <li class="dropdown">
                            <a href="@Url.Action("Index","User")" class="nav-link"><i data-feather="globe"></i><span>Website</span></a>
                        </li>
                    </ul>
                    <script>

                    </script>
                </aside>
            </div>
            <!-- Main Content -->
            <div class="main-content">
                <div>
                    @RenderBody()
                </div>
            </div>
            <!-- Main Content End -->
            <footer class="main-footer">
                <div class="footer-left">
                    <a href="@Url.Action("Index","admin")">PlantNest</a>
                </div>
                <div class="footer-right">
                </div>
            </footer>
        </div>
    </div>
    <!-- General JS Scripts -->
    <script src="~/js/app.min.js"></script>
    <!-- JS Libraies -->
    <script src="~/bundles/apexcharts/apexcharts.min.js"></script>
    <!-- Page Specific JS File -->
    <script src="~/js/page/index.js"></script>
    <!-- Template JS File -->
    <script src="~/js/scripts.js"></script>
    <!-- Custom JS File -->
    <script src="~/js/custom.js"></script>
</body>
</html>

