<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from jetly-html.vercel.app/main-html/@Url.Action("Index", "User") by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 02 Oct 2024 07:15:37 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AirlineReservation</title>
    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/website/images/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/website/images/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/website/images/favicons/favicon-16x16.png" />
    <link rel="manifest" href="~/website/images/favicons/site.webmanifest" />
    <meta name="description" content="Jetly HTML 5 Template " />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">

    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&amp;display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="~/website/vendors/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/website/vendors/animate/animate.min.css" />
    <link rel="stylesheet" href="~/website/vendors/animate/custom-animate.css" />
    <link rel="stylesheet" href="~/website/vendors/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/website/vendors/jarallax/jarallax.css" />
    <link rel="stylesheet" href="~/website/vendors/jquery-magnific-popup/jquery.magnific-popup.css" />
    <link rel="stylesheet" href="~/website/vendors/nouislider/nouislider.min.css" />
    <link rel="stylesheet" href="~/website/vendors/nouislider/nouislider.pips.css" />
    <link rel="stylesheet" href="~/website/vendors/odometer/odometer.min.css" />
    <link rel="stylesheet" href="~/website/vendors/swiper/swiper.min.css" />
    <link rel="stylesheet" href="~/website/vendors/jetly-icons/style.css">
    <link rel="stylesheet" href="~/website/vendors/tiny-slider/tiny-slider.min.css" />
    <link rel="stylesheet" href="~/website/vendors/reey-font/stylesheet.css" />
    <link rel="stylesheet" href="~/website/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/website/vendors/owl-carousel/owl.theme.default.min.css" />
    <link rel="stylesheet" href="~/website/vendors/bxslider/jquery.bxslider.css" />
    <link rel="stylesheet" href="~/website/vendors/bootstrap-select/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="~/website/vendors/vegas/vegas.min.css" />
    <link rel="stylesheet" href="~/website/vendors/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="~/website/vendors/timepicker/timePicker.css" />
    <link rel="stylesheet" href="~/website/vendors/nice-select/nice-select.css" />
 <!-- template styles -->
    <link rel="stylesheet" href="~/website/css/jetly.css" />
    <link rel="stylesheet" href="~/website/css/jetly-responsive.css" />
</head>

<body class="custom-cursor">

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>
<div class="preloader">
        <div class="preloader__image"></div>
    </div>
    <!-- /.preloader -->
    <div class="page-wrapper">
        <header class="main-header">
            <nav class="main-menu">
                <div class="main-menu__wrapper">
                    <div class="main-menu__wrapper-inner">
                        <div class="main-menu__left">
                            <div class="main-menu__logo">
                                <a href="@Url.Action("Index","User")"><img src="~/website/images/resources/logo-1.png" alt=""></a>
                            </div>
                        </div>
                        <div class="main-menu__main-menu-box">
                            <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
                            <ul class="main-menu__list">
                                <li class="dropdown current megamenu">
                                    <a href="@Url.Action("Index", "User")">Home </a>
                                </li>
                                <li class="dropdown">
                                    <a href="@Url.Action("Flight", "User")">Flight</a>
                                </li>
                                <li class="dropdown">
                                    <a href="#">News</a>
                                    <ul class="shadow-box">
                                        <li><a href="news.html">News</a></li>
                                        <li><a href="news-carousel.html">News Carousel</a></li>
                                        <li><a href="news-sidebar.html">News Sidebar</a></li>
                                        <li><a href="news-details.html">News Details</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="@Url.Action("Contact", "User")">Contact</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("About", "User")">About</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("UserProfile", "User")">Profile</a>
                                </li>
                            </ul>
                        </div>
                        <div class="main-menu__right">
                            <div class="main-menu__search-cart-call-box">
                                <div class="main-menu__search-cart-box">
                                    <div class="main-menu__search-box">
                                        <a href="#" class="main-menu__search search-toggler icon-magnifying-glass"></a>
                                    </div>
                                    @if(string.IsNullOrEmpty(ViewBag.checkSession))
						{
                                    <div class="main-menu__cart-box">
                                        <a href="@Url.Action("UserLogin","User")"><i class="fa-regular fa-user"></i></a>
                                    </div>
                        }else{
                                    <div class="main-menu__cart-box">
                                        <a href="@Url.Action("UserLogout","User")"><i class="fas fa-sign-out-alt"></i></a>
                                    </div>
                        }
                                </div>
                                <div class="main-menu__call">
                                    <div class="main-menu__call-icon">
                                        <i class="fas fa-phone"></i>
                                    </div>
                                    <div class="main-menu__call-content">
                                        <p class="main-menu__call-sub-title">Call Anytime</p>
                                        <h5 class="main-menu__call-number">
                                            <a href="tel:9288006780">
                                                +92 ( 8800 ) -
                                                6780
                                            </a>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <div class="stricky-header stricked-menu main-menu">
            <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->

    
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    

        <!--Site Footer Start-->
        <footer class="site-footer">
            <div class="container">
                <div class="site-footer__inner">
                    <div class="site-footer__shape-1 zoom-fade-3">
                        <img src="~/website/images/shapes/site-footer-shape-1.png" alt="">
                    </div>
                    <div class="site-footer__top">
                        <div class="row">
                            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                                <div class="footer-widget__column footer-widget__about">
                                    <div class="footer-widget__logo">
                                        <a href="#"><img src="~/website/images/resources/footer-logo.png" alt=""></a>
                                    </div>
                                    <div class="footer-widget__about-text-box">
                                        <p class="footer-widget__about-text">
                                            Private jet charters save your time and
                                            give
                                            you comfort.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                                <div class="footer-widget__column footer-widget__Explore">
                                    <div class="footer-widget__title-box">
                                        <h3 class="footer-widget__title">Explore</h3>
                                    </div>
                                    <ul class="footer-widget__Explore-list list-unstyled">
                                        <li><a href="about.html">About</a></li>
                                        <li><a href="jet-rentals.html">Private Jet Catering</a></li>
                                        <li><a href="destinations.html">Destinations</a></li>
                                        <li><a href="@Url.Action("Contact", "User")">Flight Search</a></li>
                                        <li><a href="@Url.Action("Contact", "User")">Book Flight</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                                <div class="footer-widget__column footer-widget__links">
                                    <div class="footer-widget__title-box">
                                        <h3 class="footer-widget__title">Links</h3>
                                    </div>
                                    <ul class="footer-widget__Explore-list list-unstyled">
                                        <li><a href="about.html">Terms of Use</a></li>
                                        <li><a href="@Url.Action("Contact", "User")">Contact</a></li>
                                        <li><a href="news.html">News & Press</a></li>
                                        <li><a href="about.html">Games</a></li>
                                        <li><a href="faq.html">FAQs</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                                <div class="footer-widget__column footer-widget__Contact">
                                    <div class="footer-widget__title-box">
                                        <h3 class="footer-widget__title">Contact</h3>
                                    </div>
                                    <ul class="footer-widget__Contact-list list-unstyled">
                                        <li>
                                            <div class="icon">
                                                <span class="fas fa-phone"></span>
                                            </div>
                                            <div class="text">
                                                <p><a href="tel:+9288006780">+92 ( 8800 ) - 6780</a></p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="fas fa-envelope"></span>
                                            </div>
                                            <div class="text">
                                                <p><a href="mailto:needhelp@company.com">needhelp@company.com</a></p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="fas fa-map-marker"></span>
                                            </div>
                                            <div class="text">
                                                <p>30 broklyn golden street. New York</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="site-footer__bottom">
                        <div class="site-footer__bottom-inner">
                            <div class="site-footer__bottom-left">
                                <p class="site-footer__bottom-text">© Copyright 2022 by <a href="#">Jetly.com</a></p>
                            </div>
                            <div class="site-footer__bottom-right">
                                <div class="site-footer__social">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-facebook"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--Site Footer End-->


    </div><!-- /.page-wrapper -->


    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

            <div class="logo-box">
                <a href="@Url.Action("Index", "User")" aria-label="logo image">
                    <img src="~/website/images/resources/logo-1.png" width="143"
                         alt="" />
                </a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:needhelp@packageName__.com">needhelp@jetly.com</a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:666-888-0000">666 888 0000</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-facebook-square"></a>
                    <a href="#" class="fab fa-pinterest-p"></a>
                    <a href="@Url.Action("index","admin")" class="fab fa-instagram"></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->



        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->

    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form action="#">
                <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
                <input type="text" id="search" placeholder="Search Here..." />
                <button type="submit" aria-label="search submit" class="thm-btn">
                    <i class="icon-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->

    <a href="@Url.Action("index","admin")" class="">Admin</a>
    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="icon-right-arrow"></i></a>

    <script src="~/website/vendors/jquery/jquery-3.6.0.min.js"></script>
    <script src="~/website/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/website/vendors/jarallax/jarallax.min.js"></script>
    <script src="~/website/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script src="~/website/vendors/jquery-appear/jquery.appear.min.js"></script>
    <script src="~/website/vendors/jquery-circle-progress/jquery.circle-progress.min.js"></script>
    <script src="~/website/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/website/vendors/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/website/vendors/nouislider/nouislider.min.js"></script>
    <script src="~/website/vendors/odometer/odometer.min.js"></script>
    <script src="~/website/vendors/swiper/swiper.min.js"></script>
    <script src="~/website/vendors/tiny-slider/tiny-slider.min.js"></script>
    <script src="~/website/vendors/wnumb/wNumb.min.js"></script>
    <script src="~/website/vendors/wow/wow.js"></script>
    <script src="~/website/vendors/isotope/isotope.js"></script>
    <script src="~/website/vendors/countdown/countdown.min.js"></script>
    <script src="~/website/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/website/vendors/bxslider/jquery.bxslider.min.js"></script>
    <script src="~/website/vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/website/vendors/vegas/vegas.min.js"></script>
    <script src="~/website/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="~/website/vendors/timepicker/timePicker.js"></script>
    <script src="~/website/vendors/circleType/jquery.circleType.js"></script>
    <script src="~/website/vendors/circleType/jquery.lettering.min.js"></script>
    <script src="~/website/vendors/nice-select/jquery.nice-select.min.js"></script>
<!-- template js -->
    <script src="~/website/js/jetly.js"></script>
</body>


<!-- Mirrored from jetly-html.vercel.app/main-html/@Url.Action("Index", "User") by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 02 Oct 2024 07:15:40 GMT -->
</html>