
@{
    ViewData["Title"] = "DetailUser";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

@model User
<section class="section">
    <div class="section-body">
        <div class="row mt-sm-4">
            <div class="col-12 col-md-12 col-lg-4">
                <div class="card author-box">
                    <div class="card-body">
                        <div class="author-box-center">
                            <img src="@("~/UserImages/"+Model.UserImage)" asp-append-version="true" class="rounded-circle author-box-picture" />
                            <div class="clearfix"></div><br />
                            <div class="author-box-name">
                                <a href="">@Model.FirstName</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-6">
                <div class="card">
                    <div class="card-header center">
                        <h4 class="text-center">User Details</h4>
                    </div>
                    <div class="card-body">
                        <div class="py-4">
                            <p class="clearfix">
                                <span class="float-left">
                                    User Id :
                                </span>
                                <span class="float-right text-muted">
                                    @Model.UserId
                                </span>
                            </p>
                            <p class="clearfix">
                                <span class="float-left">
                                    User FirstName :
                                </span>
                                <span class="float-right text-muted">
                                    @Model.FirstName
                                </span>
                            </p>
                            <p class="clearfix">
                                <span class="float-left">
                                    User Phone :
                                </span>
                                <span class="float-right text-muted">
                                    @Model.PhoneNumber
                                </span>
                            </p>
                            <p class="clearfix">
                                <span class="float-left">
                                    User CreditCard Number :
                                </span>
                                <span class="float-right text-muted">
                                    @Model.CreditCardNumber
                                </span>
                            </p>
                            <p class="clearfix">
                                <span class="float-left">
                                    Sex :
                                </span>
                                <span class="float-right text-muted">
                                    @Model.Sex
                                </span>
                            </p>
                            <p class="clearfix">
                                <span class="float-left">
                                    User Email :
                                </span>
                                <span class="float-right text-muted">
                                    @Model.EmailAddress
                                </span>
                            </p>
                            <p class="clearfix">
                                <span class="float-left">
                                    User Password :
                                </span>
                                <span class="float-right text-muted">
                                    @Model.Password
                                </span>
                            </p><p class="clearfix">
                                <span class="float-left">
                                    User Age :
                                </span>
                                <span class="float-right text-muted">
                                    @Model.Age
                                </span>
                            </p><p class="clearfix">
                                <span class="float-left">
                                    SkyMiles :
                                </span>
                                <span class="float-right text-muted">
                                    @Model.SkyMiles
                                </span>
                            </p><p class="clearfix">
                                <span class="float-left">
                                    User Address :
                                </span>
                                <span class="float-right text-muted">
                                    @Model.Address
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

