
@{
    ViewData["Title"] = "UpdateFlight";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

@model Flight

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Update Flight</h4>
                    </div>
                    <div class="card-body">
                        <form enctype="multipart/form-data" method="post">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-3 col-form-label">Flight Number</label>
                                <div class="col-sm-9">
                                    <input type="hidden" name="FlightId" value="@Model.FlightId" class="form-control" id="inputEmail3">
                                    <input type="text" name="FlightNumber" value="@Model.FlightNumber" class="form-control" id="inputEmail3">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-3 col-form-label">Origin City</label>
                                <div class="col-sm-9">
                                    <input type="text" name="OriginCity" value="@Model.OriginCity" class="form-control" id="inputEmail3">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-3 col-form-label">Destination City</label>
                                <div class="col-sm-9">
                                    <input type="text" name="DestinationCity" value="@Model.DestinationCity" class="form-control" id="inputEmail3">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="datetime" class="col-sm-3 col-form-label">Departure Time</label>
                                <div class="col-sm-9">
                                    <input type="datetime-local" name="DepartureTime" value="@Model.DepartureTime" class="form-control" id="inputEmail3">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-3 col-form-label">Arrival Time</label>
                                <div class="col-sm-9">
                                    <input type="datetime-local" name="ArrivalTime" value="@Model.ArrivalTime" class="form-control" id="inputEmail3">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-3 col-form-label">Total Seats</label>
                                <div class="col-sm-9">
                                    <input type="text" name="TotalSeats" value="@Model.TotalSeats" class="form-control" id="inputEmail3">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-3 col-form-label">Available Seats</label>
                                <div class="col-sm-9">
                                    <input type="text" name="AvailableSeats" value="@Model.AvailableSeats" class="form-control" id="inputEmail3">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-3 col-form-label">Duration</label>
                                <div class="col-sm-9">
                                    <input type="text" name="Duration" value="@Model.Duration" class="form-control" id="inputEmail3">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-3 col-form-label">Class</label>
                                <div class="col-sm-9">
                                    <input type="text" name="Class" value="@Model.Class" class="form-control" id="inputEmail3">
                                </div>
                            </div>
                            <div class="card-footer center">
                                <input type="submit" value="Update Flight" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
