@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<Flight>

<!--Main Slider Start-->
<section class="main-slider clearfix">
    <div class="swiper-container thm-swiper__slider" data-swiper-options='{"slidesPerView": 1, "loop": true,
                "effect": "fade",
                "pagination": {
                "el": "#main-slider-pagination",
                "type": "bullets",
                "clickable": true
                },
                "navigation": {
                "nextEl": "#main-slider__swiper-button-next",
                "prevEl": "#main-slider__swiper-button-prev"
                },
                "autoplay": {
                "delay": 5000
                }}'>
        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <div class="image-layer"
                     style="background-image: url('/website/images/backgrounds/main-slider-1-1.jpg');"></div>
                <!-- /.image-layer -->
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="main-slider__content">
                                <p class="main-slider__sub-title">Save time and fly with comfort</p>
                                <h2 class="main-slider__title">Luxury Jet <br> Flights</h2>
                                <div class="main-slider__btn-box">
                                    <a href="@Url.Action("Contact","User")" class="thm-btn main-slider__btn">Book Now</a>
                                    <a href="@Url.Action("About","User")" class="thm-btn main-slider__btn-two">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="image-layer"
                     style="background-image: url('/website/images/backgrounds/main-slider-1-2.jpg');"></div>
                <!-- /.image-layer -->
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="main-slider__content">
                                <p class="main-slider__sub-title">Save time and fly with comfort</p>
                                <h2 class="main-slider__title">Luxury Jet <br> Flights</h2>
                                <div class="main-slider__btn-box">
                                    <a href="@Url.Action("Contact","User")" class="thm-btn main-slider__btn">Book Now</a>
                                    <a href="@Url.Action("About","User")" class="thm-btn main-slider__btn-two">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="image-layer"
                     style="background-image: url('/website/images/backgrounds/main-slider-1-3.jpg);'"></div>
                <!-- /.image-layer -->
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="main-slider__content">
                                <p class="main-slider__sub-title">Save time and fly with comfort</p>
                                <h2 class="main-slider__title">Luxury Jet <br> Flights</h2>
                                <div class="main-slider__btn-box">
                                    <a href="@Url.Action("Contact","User")" class="thm-btn main-slider__btn">Book Now</a>
                                    <a href="@Url.Action("About","User")" class="thm-btn main-slider__btn-two">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <!-- If we need navigation buttons -->


    </div>
</section>
<!--Main Slider End-->
<!--Feature One Start-->
<section class="feature-one">
    <div class="feature-one__shape-1 float-bob-y-2">
        <img src="~/website/images/shapes/feature-one-shape-1.png" alt="">
        <div class="feature-one__shadow">
            <img src="~/website/images/shapes/feature-one-shadow.png" alt="">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!--Feature One Single Start-->
            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="100ms">
                <div class="feature-one__single">
                    <div class="feature-one__icon">
                        <span class="icon-diamond-1"></span>
                    </div>
                    <h4 class="feature-one__title"><a href="@Url.Action("About","User")">Luxury & Comfort</a></h4>
                </div>
            </div>
            <!--Feature One Single End-->
            <!--Feature One Single Start-->
            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="200ms">
                <div class="feature-one__single">
                    <div class="feature-one__icon">
                        <span class="icon-safe-flight"></span>
                    </div>
                    <h4 class="feature-one__title"><a href="@Url.Action("About","User")">Safe & Secure</a></h4>
                </div>
            </div>
            <!--Feature One Single End-->
            <!--Feature One Single Start-->
            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="300ms">
                <div class="feature-one__single">
                    <div class="feature-one__icon">
                        <span class="icon-calendar"></span>
                    </div>
                    <h4 class="feature-one__title"><a href="@Url.Action("About","User")">Personal Schedule</a></h4>
                </div>
            </div>
            <!--Feature One Single End-->
            <!--Feature One Single Start-->
            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="400ms">
                <div class="feature-one__single">
                    <div class="feature-one__icon">
                        <span class="icon-airport-1"></span>
                    </div>
                    <h4 class="feature-one__title"><a href="@Url.Action("About","User")">Many airports</a></h4>
                </div>
            </div>
            <!--Feature One Single End-->
        </div>
    </div>
</section>
<!--Feature One End-->
<!--About One Start-->
<section class="about-one">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="about-one__left">
                    <div class="section-title text-left">
                        <span class="section-title__tagline">get to know us</span>
                        <h2 class="section-title__title">
                            Our jetly save your time and give you comfort in
                            flights
                        </h2>
                    </div>
                    <p class="about-one__text">
                        Non augue egestas, commodo velit eget, vestibulum tellus.
                        Curabitur vulputate justo elit, at elementum orci pulvinar vel. Pellentesque habitant
                        morbi tristique. Pellentesque habitant morbi tristique. Ut non augue egestas, commodo
                        velit eget, vestibulum tellus.
                    </p>
                    <ul class="list-unstyled about-one__points">
                        <li>
                            <div class="icon">
                                <span class="icon-tick"></span>
                            </div>
                            <div class="text">
                                <p>There are many variations of passage of lorem.</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <span class="icon-tick"></span>
                            </div>
                            <div class="text">
                                <p>Available but the majority alteration.</p>
                            </div>
                        </li>
                    </ul>
                    <div class="about-one__btn-call">
                        <div class="about-one__btn-box">
                            <a href="@Url.Action("Contact","User")" class="thm-btn about-one__btn">Book Now</a>
                        </div>
                        <div class="about-one__call">
                            <div class="about-one__call-icon">
                                <span class="icon-telephone"></span>
                            </div>
                            <div class="about-one__call-content">
                                <span class="about-one__call-sub-title">Call Anytime</span>
                                <p class="about-one__call-number">
                                    <a href="tel:9288006780">
                                        +92 ( 8800 ) -
                                        6780
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="about-one__right">
                    <div class="about-one__img-box wow slideInRight" data-wow-delay="100ms"
                         data-wow-duration="2500ms">
                        <div class="about-one__img">
                            <img src="~/website/images/resources/about-one-img-1.jpg" alt="">
                        </div>
                        <div class="about-one__satisfied">
                            <div class="about-one__satisfied-icon">
                                <span class="icon-recommend"></span>
                            </div>
                            <div class="about-one__satisfied-content count-box">
                                <h3 class="count-text" data-stop="8800" data-speed="1500">00</h3>
                                <p>Satisfied Clients</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--About One End-->
<!--Feature Two Start-->
<section class="feature-two">
    <div class="container">
        <div class="row">
            <!--Feature Two Start-->
            <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                <div class="feature-two__single">
                    <div class="feature-two__content-box">
                        <div class="feature-two__content-box-inner">
                            <div class="feature-two__shape-1">
                                <img src="~/website/images/shapes/feature-two-shape-1.png" alt="">
                            </div>
                            <div class="feature-two__dot">
                                <img src="~/website/images/shapes/feature-two-dot.png" alt="">
                            </div>
                            <div class="feature-two__content-box-top">
                                <span class="feature-two__content-box-sub-tilte">Collect miles</span>
                                <h4 class="feature-two__content-box-title">
                                    <a href="@Url.Action("Contact","User")">
                                        Get
                                        discount <br>
                                        next flights
                                        with <br> our card
                                    </a>
                                </h4>
                            </div>
                            <p class="feature-two__content-box-text">
                                Non augue egestas, commodo velit eget,
                                vestibulum tellus. Curabitur vulputate justo elit, at elementum orci
                                pulvinar vel.
                            </p>
                            <a href="@Url.Action("Contact","User")" class="thm-btn feature-two__btn">Get card</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Feature Two Start-->
            <!--Feature Two Start-->
            <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="200ms">
                <div class="feature-two__single">
                    <div class="feature-two__img-box">
                        <div class="feature-two__img">
                            <img src="~/website/images/resources/feature-two-1-2.jpg" alt="">
                            <div class="feature-two__tilte-box">
                                <h3 class="feature-two__title">
                                    <a href="@Url.Action("Contact","User")">
                                        Exclusive <br> new
                                        offers
                                    </a>
                                </h3>
                            </div>
                            <div class="feature-two__arrow">
                                <a href="@Url.Action("Contact","User")"><span class="icon-right-arrow"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Feature Two Start-->
            <!--Feature Two Start-->
            <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="300ms">
                <div class="feature-two__single">
                    <div class="feature-two__img-box">
                        <div class="feature-two__img">
                            <img src="~/website/images/resources/feature-two-1-3.jpg" alt="">
                            <div class="feature-two__tilte-box">
                                <h3 class="feature-two__title">
                                    <a href="@Url.Action("Contact","User")">
                                        Join our <br> cabin
                                        crew
                                    </a>
                                </h3>
                            </div>
                            <div class="feature-two__arrow">
                                <a href="@Url.Action("Contact","User")"><span class="icon-right-arrow"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Feature Two Start-->
        </div>
    </div>
</section>
<!--Feature Two End-->
<!--Get Flight Start-->
<section class="get-flight">
    <div class="get-flight-img">
        <img src="~/website/images/resources/get-flight-img-1.png" alt="">
    </div>
    <div class="get-flight__shape-1 float-bob-x">
        <img src="~/website/images/shapes/get-flight-shape-1.png" alt="">
    </div>
    <div class="get-flight__shape-2 float-bob-x">
        <img src="~/website/images/shapes/get-flight-shape-2.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-8">
                <div class="get-flight__content-box">
                    <div class="section-title text-left">
                        <span class="section-title__tagline">Get your flight</span>
                        <h2 class="section-title__title">Request for private flight</h2>
                    </div>
                    <form action="https://jetly-html.vercel.app/main-html/~/website/inc/sendemail.php" class="get-flight__form contact-form-validated"
                          novalidate="novalidate">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6">
                                <div class="get-flight__form-input-box">
                                    <input type="text" placeholder="Fly from">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="get-flight__form-input-box">
                                    <input type="text" placeholder="Fly to">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="get-flight__form-input-box">
                                    <input type="text" name="date" placeholder="Select date" id="datepicker">
                                    <div class="get-flight__icon-box">
                                        <i class="far fa-calendar-alt"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="get-flight__form-input-box">
                                            <input type="text" name="time" placeholder="Select time">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="get-flight__form-input-box">
                                            <div class="select-box">
                                                <select class="wide">
                                                    <option data-display="Select country">Passengers</option>
                                                    <option value="1">Passengers 01</option>
                                                    <option value="2">Passengers 02</option>
                                                    <option value="3">Passengers 03</option>
                                                    <option value="4">Passengers 04</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="get-flight__form-input-box">
                                    <div class="select-box">
                                        <select class="wide">
                                            <option data-display="Select country">Select baggage</option>
                                            <option value="1">Select baggage 01</option>
                                            <option value="2">Select baggage 02</option>
                                            <option value="3">Select baggage 03</option>
                                            <option value="4">Select baggage 04</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="get-flight__form-input-box">
                                    <button type="submit" class="thm-btn get-flight__btn">Book Now</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <p class="get-flight__content-text">
                        <span>*</span> After sending request. We’ll contact you
                        for more details about charter.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Get Flight End-->
<!--Services One Start-->
<section class="services-one">
    <div class="container">
        <div class="section-title text-center">
            <span class="section-title__tagline">what we’re offering</span>
            <h2 class="section-title__title">Select the service <br> according to your work</h2>
        </div>
        <div class="row">
            <!--Services One Single Start-->
            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                <div class="services-one__single">
                    <div class="services-one__img">
                        <img src="~/website/images/services/services-1-1.jpg" alt="">
                    </div>
                    <div class="services-one__content">
                        <div class="services-one__title-box">
                            <span class="services-one__sub-title">Fight For</span>
                            <h3 class="services-one__title">
                                <a href="business-charter.html">Business charter</a>
                            </h3>
                        </div>
                        <p class="services-one__text">Non augue egestas, commodo velit eget, tellus.</p>
                        <div class="services-one__arrow">
                            <a href="business-charter.html"><i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Services One Single End-->
            <!--Services One Single Start-->
            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                <div class="services-one__single">
                    <div class="services-one__img">
                        <img src="~/website/images/services/services-1-2.jpg" alt="">
                    </div>
                    <div class="services-one__content">
                        <div class="services-one__title-box">
                            <span class="services-one__sub-title">Fight For</span>
                            <h3 class="services-one__title">
                                <a href="private-charter.html">Private charter</a>
                            </h3>
                        </div>
                        <p class="services-one__text">Non augue egestas, commodo velit eget, tellus.</p>
                        <div class="services-one__arrow">
                            <a href="private-charter.html"><i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Services One Single End-->
            <!--Services One Single Start-->
            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                <div class="services-one__single">
                    <div class="services-one__img">
                        <img src="~/website/images/services/services-1-3.jpg" alt="">
                    </div>
                    <div class="services-one__content">
                        <div class="services-one__title-box">
                            <span class="services-one__sub-title">Fight For</span>
                            <h3 class="services-one__title"><a href="jet-rentals.html">Jet rentals</a></h3>
                        </div>
                        <p class="services-one__text">Non augue egestas, commodo velit eget, tellus.</p>
                        <div class="services-one__arrow">
                            <a href="jet-rentals.html"><i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Services One Single End-->
            <!--Services One Single Start-->
            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                <div class="services-one__single">
                    <div class="services-one__img">
                        <img src="~/website/images/services/services-1-4.jpg" alt="">
                    </div>
                    <div class="services-one__content">
                        <div class="services-one__title-box">
                            <span class="services-one__sub-title">Fight For</span>
                            <h3 class="services-one__title">
                                <a href="high-profile-people.html">
                                    High profile
                                    people
                                </a>
                            </h3>
                        </div>
                        <p class="services-one__text">Non augue egestas, commodo velit eget, tellus.</p>
                        <div class="services-one__arrow">
                            <a href="high-profile-people.html"><i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Services One Single End-->
        </div>
    </div>
</section>
<!--Services One End-->
<!--Counter One Start-->
<section class="counter-one">
    <div class="container">
        <ul class="counter-one__box list-unstyled">
            <li class="counter-one__single wow fadeInUp" data-wow-delay="100ms">
                <div class="counter-one__icon">
                    <i class="icon-pilot-1"></i>
                    <div class="counter-one__shape"></div>
                </div>
                <div class="counter-one__content count-box">
                    <h3 class="count-text" data-stop="395" data-speed="1500">00</h3>
                    <p class="counter-one__text">Professional pilots</p>
                </div>
            </li>
            <li class="counter-one__single wow fadeInUp" data-wow-delay="200ms">
                <div class="counter-one__icon">
                    <i class="icon-jet"></i>
                    <div class="counter-one__shape"></div>
                </div>
                <div class="counter-one__content count-box">
                    <h3 class="count-text" data-stop="166" data-speed="1500">00</h3>
                    <p class="counter-one__text">Jet airplanes</p>
                </div>
            </li>
            <li class="counter-one__single wow fadeInUp" data-wow-delay="300ms">
                <div class="counter-one__icon">
                    <i class="icon-direct-flight"></i>
                    <div class="counter-one__shape"></div>
                </div>
                <div class="counter-one__content count-box">
                    <h3 class="count-text" data-stop="138" data-speed="1500">00</h3>
                    <p class="counter-one__text">Directions</p>
                </div>
            </li>
            <li class="counter-one__single wow fadeInUp" data-wow-delay="400ms">
                <div class="counter-one__icon">
                    <i class="icon-airport"></i>
                    <div class="counter-one__shape"></div>
                </div>
                <div class="counter-one__content count-box">
                    <h3 class="count-text" data-stop="280" data-speed="1500">00</h3>
                    <p class="counter-one__text">World aiports</p>
                </div>
            </li>
        </ul>
    </div>
</section>
<!--Counter One End-->
<!--Testimonial One Start-->
<section class="testimonial-one">
    <div class="testimonial-one__shape-1 zoom-fade-2">
        <img src="~/website/images/shapes/testimonial-shape-1.png" alt="">
    </div>
    <div class="testimonial-one__shape-2 float-bob-x">
        <img src="~/website/images/shapes/testimonial-shape-2.png" alt="">
    </div>
    <div class="testimonial-one__shape-3 float-bob-x">
        <img src="~/website/images/shapes/testimonial-shape-3.png" alt="">
    </div>
    <div class="container">
        <div class="section-title text-center">
            <span class="section-title__tagline">customers feedback</span>
            <h2 class="section-title__title">What they’re talking about <br> our flight services</h2>
        </div>
        <div class="testimonial-one__bottom">
            <div class="testimonial-one__shape-4"
                 style="background-image: url('/website/images/shapes/testimonial-shape-4.png');"></div>
            <div class="testimonial-one__carousel owl-carousel owl-theme thm-owl__carousel" data-owl-options='{
                 "loop" : true,
                 "autoplay" : true,
                 "margin" : 30,
                 "nav" : false,
                 "dots" : false,
                 "smartSpeed" : 500,
                 "autoplayTimeout" : 10000,
                 "navText" : ["<span class=\"icon-left-arrow\"></span>","<span class=\"icon-right-arrow1\"></span>"],
                        "responsive": {
                            "0": {
                                "items": 1
                            },
                            "768": {
                                "items": 1
                            },
                            "992": {
                                "items": 2
                            },
                            "1200": {
                                "items": 2
                            }
                        }
                    }'>
                        <!--Testimonial One Single Start-->
                        <div class="item">
                            <div class="testimonial-one__single">
                                <div class="testimonial-one__client-img-box">
                                    <div class="testimonial-one__img">
                                        <img src="~/website/images/testimonial/testimonial-1-1.jpg" alt="">
                                        <div class="testimonial-one__icon-box">
                                            <span class="icon-quote"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-one__content">
                                    <p class="testimonial-one__content-text">There are many variations of passage of
                                        available but the majority have suffered alteration in some form by injected
                                        humor or randomed.</p>
                                    <div class="testimonial-one__rating">
                                        <div class="testimonial-one__rating-icon">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="testimonial-one__user">
                                            <div class="testimonial-one__user-name">
                                                <h4>Bonnie tolbet</h4>
                                                <p>Customer</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Testimonial One Single End-->
                        <!--Testimonial One Single Start-->
                        <div class="item">
                            <div class="testimonial-one__single">
                                <div class="testimonial-one__client-img-box">
                                    <div class="testimonial-one__img">
                                        <img src="~/website/images/testimonial/testimonial-1-2.jpg" alt="">
                                        <div class="testimonial-one__icon-box">
                                            <span class="icon-quote"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-one__content">
                                    <p class="testimonial-one__content-text">There are many variations of passage of
                                        available but the majority have suffered alteration in some form by injected
                                        humor or randomed.</p>
                                    <div class="testimonial-one__rating">
                                        <div class="testimonial-one__rating-icon">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="testimonial-one__user">
                                            <div class="testimonial-one__user-name">
                                                <h4>Sarah albert</h4>
                                                <p>Customer</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Testimonial One Single End-->
                        <!--Testimonial One Single Start-->
                        <div class="item">
                            <div class="testimonial-one__single">
                                <div class="testimonial-one__client-img-box">
                                    <div class="testimonial-one__img">
                                        <img src="~/website/images/testimonial/testimonial-1-3.jpg" alt="">
                                        <div class="testimonial-one__icon-box">
                                            <span class="icon-quote"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-one__content">
                                    <p class="testimonial-one__content-text">There are many variations of passage of
                                        available but the majority have suffered alteration in some form by injected
                                        humor or randomed.</p>
                                    <div class="testimonial-one__rating">
                                        <div class="testimonial-one__rating-icon">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="testimonial-one__user">
                                            <div class="testimonial-one__user-name">
                                                <h4>Christine eve</h4>
                                                <p>Customer</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Testimonial One Single End-->
                        <!--Testimonial One Single Start-->
                        <div class="item">
                            <div class="testimonial-one__single">
                                <div class="testimonial-one__client-img-box">
                                    <div class="testimonial-one__img">
                                        <img src="~/website/images/testimonial/testimonial-1-4.jpg" alt="">
                                        <div class="testimonial-one__icon-box">
                                            <span class="icon-quote"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-one__content">
                                    <p class="testimonial-one__content-text">There are many variations of passage of
                                        available but the majority have suffered alteration in some form by injected
                                        humor or randomed.</p>
                                    <div class="testimonial-one__rating">
                                        <div class="testimonial-one__rating-icon">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="testimonial-one__user">
                                            <div class="testimonial-one__user-name">
                                                <h4>Jimmy smith</h4>
                                                <p>Customer</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Testimonial One Single End-->
                    </div>
        </div>
    </div>
</section>
<!--Testimonial One End-->
<!--Special Offer One Start-->
<section class="special-offer-one">
    <div class="special-offer-one__wrap">
        <div class="special-offer-one__left">
            <div class="special-offer-one__shape-1"
                 style="background-image: url(~/website/images/shapes/special-offer-one-shape-1.png);"></div>
            <div class="special-offer-one__shape-2 float-bob-x">
                <img src="~/website/images/shapes/special-offer-one-shape-2.png" alt="">
            </div>
            <div class="special-offer-one__content">
                <div class="section-title text-left">
                    <span class="section-title__tagline">Special offer</span>
                    <h2 class="section-title__title">
                        The best service <br> for business people <br> who
                        appreciate time
                    </h2>
                </div>
                <p class="special-offer-one__left-text">
                    Non augue egestas, commodo velit eget, vestibulum
                    tellus. Curabitur vulputate justo elit, at elementum pulvinar. Pellentesque habitant morbi
                    tristique.
                </p>
                <a href="@Url.Action("About","User")" class="thm-btn special-offer__btn">Discover more</a>
            </div>
        </div>
        <div class="special-offer-one__right">
            <div class="special-offer-one__bg"
                 style="background-image: url(~/website/images/backgrounds/special-offer-one-bg.jpg);"></div>
            <div class="special-offer-one__toggle">
                <p>Trips <br> & tours</p>
            </div>
        </div>
    </div>
</section>
<!--Special Offer One End-->
<!--Price One Start-->
<section class="price-one">
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <div class="price-one__left">
                    <div class="section-title text-left">
                        <span class="section-title__tagline">Private Flights</span>
                        <h2 class="section-title__title">Browse legs <br> of our charters</h2>
                    </div>
                    <p class="price-one__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Curabitur condimentum, lacus non faucibus congue, lectus quam viverra nulla, quis
                        egestas neque sapien ac magna.
                    </p>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="price-one__right">
                    <div class="price-one__carousel owl-carousel owl-theme thm-owl__carousel" data-owl-options='{
                         "loop" : true,
                         "autoplay" : false,
                         "margin" : 30,
                         "nav" : true,
                         "dots" : false,
                         "smartSpeed" : 500,
                         "autoplayTimeout" : 10000,
                         "navText" : ["<span class=\"icon-left-arrow\"></span>","<span class=\"icon-right-arrow\"></span>"],
                                "responsive": {
                                    "0": {
                                        "items": 1
                                    },
                                    "768": {
                                        "items": 2
                                    },
                                    "992": {
                                        "items": 2
                                    },
                                    "1200": {
                                        "items": 2
                                    }
                                }
                            }'>
                                <!--Price One Single Start-->
                               @foreach (var item in Model)
                        {
                            <div class="item">
                                <div class="price-one__single">
                                    <div class="price-one__top">
                                        <p>@item.OriginCity</p>
                                        <i class="fas fa-plane"></i>
                                        <p>@item.DestinationCity</p>
                                    </div>
                                    <div class="price-one__content">
                                        <div class="price-one__img">
                                            <img src="~/website/images/resources/price-one-1-1.png" alt="">
                                        </div>
                                        <ul class="list-unstyled price-one_list">
                                            <li><span>Date:</span> Tuesday, Jul 6, 2022</li>
                                            <li><span>Departure:</span>@item.DepartureTime</li>
                                            <li><span>Arrival:</span>@item.ArrivalTime</li>
                                            <li><span>Starting From:</span> $2786</li>
                                            <li><span>Person:</span> Adult 3</li>
                                        </ul>
                                        <div class="price-one__btn-box">
                                            <a href="@Url.Action("BookTickets","User")" class="thm-btn price-one__btn">Book Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <!--Price One Single End-->
                                <!--Price One Single Start-->
                                @* <div class="item">
                                    <div class="price-one__single">
                                        <div class="price-one__top">
                                            <p>New York</p>
                                            <i class="fas fa-plane"></i>
                                            <p>Moscow</p>
                                        </div>
                                        <div class="price-one__content">
                                            <div class="price-one__img">
                                                <img src="~/website/images/resources/price-one-1-1.png" alt="">
                                            </div>
                                            <ul class="list-unstyled price-one_list">
                                                <li><span>Date:</span> Tuesday, Jul 6, 2022</li>
                                                <li><span>Departure:</span> 11:25 pm</li>
                                                <li><span>Arrival:</span> 02:25 am</li>
                                                <li><span>Starting From:</span> $2786</li>
                                                <li><span>Person:</span> Adult 3</li>
                                            </ul>
                                            <div class="price-one__btn-box">
                                                <a href="@Url.Action("Contact","User")" class="thm-btn price-one__btn">Book Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Price One Single End-->
                                <!--Price One Single Start-->
                                <div class="item">
                                    <div class="price-one__single">
                                        <div class="price-one__top">
                                            <p>New York</p>
                                            <i class="fas fa-plane"></i>
                                            <p>Moscow</p>
                                        </div>
                                        <div class="price-one__content">
                                            <div class="price-one__img">
                                                <img src="~/website/images/resources/price-one-1-1.png" alt="">
                                            </div>
                                            <ul class="list-unstyled price-one_list">
                                                <li><span>Date:</span> Tuesday, Jul 6, 2022</li>
                                                <li><span>Departure:</span> 11:25 pm</li>
                                                <li><span>Arrival:</span> 02:25 am</li>
                                                <li><span>Starting From:</span> $2786</li>
                                                <li><span>Person:</span> Adult 3</li>
                                            </ul>
                                            <div class="price-one__btn-box">
                                                <a href="@Url.Action("Contact","User")" class="thm-btn price-one__btn">Book Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div> *@
                                <!--Price One Single End-->
                            </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Price One End-->
<!--Destination One Start-->
<section class="destination-one">
    <div class="destination-one__shape-1"
         style="background-image: url(~/website/images/shapes/destination-one-shape-1.png);"></div>
    <div class="container">
        <div class="section-title text-center">
            <span class="section-title__tagline">What will you get</span>
            <h2 class="section-title__title">
                Checkout the popular jet
                <br> charter destinations
            </h2>
        </div>
        <div class="row">
            <!--Destination One Single Start-->
            <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                <div class="destination-one__single">
                    <div class="destination-one__img-box">
                        <div class="destination-one__img">
                            <img src="~/website/images/resources/destination-1-1.jpg" alt="">
                        </div>
                        <div class="destination-one__content">
                            <h3 class="destination-one__title">
                                <a href="destination-details.html">
                                    Paris -
                                    Barcelona
                                </a>
                            </h3>
                            <div class="destination-one__time">
                                <div class="destination-one__paris-time">
                                    <p>Departure: <span>16:50</span></p>
                                </div>
                                <div class="destination-one__barcelona-time">
                                    <p>Arrival: <span>20:42</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Destination One Single End-->
            <!--Destination One Single Start-->
            <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="200ms">
                <div class="destination-one__single">
                    <div class="destination-one__img-box">
                        <div class="destination-one__img">
                            <img src="~/website/images/resources/destination-1-2.jpg" alt="">
                        </div>
                        <div class="destination-one__content">
                            <h3 class="destination-one__title">
                                <a href="destination-details.html">
                                    Hamburg –
                                    London
                                </a>
                            </h3>
                            <div class="destination-one__time">
                                <div class="destination-one__paris-time">
                                    <p>Departure: <span>16:50</span></p>
                                </div>
                                <div class="destination-one__barcelona-time">
                                    <p>Arrival: <span>20:42</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Destination One Single End-->
            <!--Destination One Single Start-->
            <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="300ms">
                <div class="destination-one__single">
                    <div class="destination-one__img-box">
                        <div class="destination-one__img">
                            <img src="~/website/images/resources/destination-1-3.jpg" alt="">
                        </div>
                        <div class="destination-one__content">
                            <h3 class="destination-one__title">
                                <a href="destination-details.html">
                                    London –
                                    Madrid
                                </a>
                            </h3>
                            <div class="destination-one__time">
                                <div class="destination-one__paris-time">
                                    <p>Departure: <span>16:50</span></p>
                                </div>
                                <div class="destination-one__barcelona-time">
                                    <p>Arrival: <span>20:42</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Destination One Single End-->
        </div>
    </div>
</section>
<!--Destination One End-->
<!--Brand One Start-->
<section class="brand-one">
    <div class="container">
        <div class="thm-swiper__slider swiper-container" data-swiper-options='{"spaceBetween": 100,
                "slidesPerView": 5,
                "loop": true,
                "navigation": {
                    "nextEl": "#brand-one__swiper-button-next",
                    "prevEl": "#brand-one__swiper-button-prev"
                },
                "autoplay": { "delay": 5000 },
                "breakpoints": {
                    "0": {
                        "spaceBetween": 30,
                        "slidesPerView": 2
                    },
                    "375": {
                        "spaceBetween": 30,
                        "slidesPerView": 2
                    },
                    "575": {
                        "spaceBetween": 30,
                        "slidesPerView": 3
                    },
                    "767": {
                        "spaceBetween": 50,
                        "slidesPerView": 4
                    },
                    "991": {
                        "spaceBetween": 50,
                        "slidesPerView": 5
                    },
                    "1199": {
                        "spaceBetween": 100,
                        "slidesPerView": 5
                    }
                }}'>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="~/website/images/brand/brand-1-1.png" alt="">
                </div><!-- /.swiper-slide -->
                <div class="swiper-slide">
                    <img src="~/website/images/brand/brand-1-2.png" alt="">
                </div><!-- /.swiper-slide -->
                <div class="swiper-slide">
                    <img src="~/website/images/brand/brand-1-3.png" alt="">
                </div><!-- /.swiper-slide -->
                <div class="swiper-slide">
                    <img src="~/website/images/brand/brand-1-4.png" alt="">
                </div><!-- /.swiper-slide -->
                <div class="swiper-slide">
                    <img src="~/website/images/brand/brand-1-5.png" alt="">
                </div><!-- /.swiper-slide -->
                <div class="swiper-slide">
                    <img src="~/website/images/brand/brand-1-1.png" alt="">
                </div><!-- /.swiper-slide -->
                <div class="swiper-slide">
                    <img src="~/website/images/brand/brand-1-2.png" alt="">
                </div><!-- /.swiper-slide -->
                <div class="swiper-slide">
                    <img src="~/website/images/brand/brand-1-3.png" alt="">
                </div><!-- /.swiper-slide -->
                <div class="swiper-slide">
                    <img src="~/website/images/brand/brand-1-4.png" alt="">
                </div><!-- /.swiper-slide -->
                <div class="swiper-slide">
                    <img src="~/website/images/brand/brand-1-5.png" alt="">
                </div><!-- /.swiper-slide -->
            </div>
        </div>
    </div>
</section>
<!--Brand One End-->
<!--Blog One Start-->
<section class="blog-one">
    <div class="container">
        <div class="section-title text-center">
            <span class="section-title__tagline">from the Blog Posts</span>
            <h2 class="section-title__title">
                Checkout latest aviation
                <br> news and articles
            </h2>
        </div>
        <div class="row">
            <!--Blog One Single Start-->
            <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                <div class="blog-one__single">
                    <div class="blog-one__img">
                        <img src="~/website/images/blog/news-1-1.jpg" alt="">
                        <a href="news-details.html">
                            <span class="blog-one__plus"></span>
                        </a>
                    </div>
                    <div class="blog-one__content">
                        <div class="blog-one__date">
                            <p>18 July, 2022</p>
                        </div>
                        <ul class="blog-one__meta list-unstyled">
                            <li>
                                <a href="news-details.html"><i class="fas fa-user-circle"></i>Admin</a>
                            </li>
                            <li>
                                <a href="news-details.html"><i class="fas fa-comments"></i>2 Comments</a>
                            </li>
                        </ul>
                        <h3 class="blog-one__title">
                            <a href="news-details.html">
                                Few reason’s people choose to
                                fly private jet charter
                            </a>
                        </h3>
                        <div class="blog-one__btn">
                            <a href="news-details.html">Read More<span class="icon-right-arrow"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Blog One Single End-->
            <!--Blog One Single Start-->
            <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="200ms">
                <div class="blog-one__single">
                    <div class="blog-one__img">
                        <img src="~/website/images/blog/news-1-2.jpg" alt="">
                        <a href="news-details.html">
                            <span class="blog-one__plus"></span>
                        </a>
                    </div>
                    <div class="blog-one__content">
                        <div class="blog-one__date">
                            <p>18 July, 2022</p>
                        </div>
                        <ul class="blog-one__meta list-unstyled">
                            <li>
                                <a href="news-details.html"><i class="fas fa-user-circle"></i>Admin</a>
                            </li>
                            <li>
                                <a href="news-details.html"><i class="fas fa-comments"></i>2 Comments</a>
                            </li>
                        </ul>
                        <h3 class="blog-one__title">
                            <a href="news-details.html">
                                A first-time flyer’s guide to
                                private jets
                                charters
                            </a>
                        </h3>
                        <div class="blog-one__btn">
                            <a href="news-details.html">Read More<span class="icon-right-arrow"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Blog One Single End-->
            <!--Blog One Single Start-->
            <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="300ms">
                <div class="blog-one__single">
                    <div class="blog-one__img">
                        <img src="~/website/images/blog/news-1-3.jpg" alt="">
                        <a href="news-details.html">
                            <span class="blog-one__plus"></span>
                        </a>
                    </div>
                    <div class="blog-one__content">
                        <div class="blog-one__date">
                            <p>18 July, 2022</p>
                        </div>
                        <ul class="blog-one__meta list-unstyled">
                            <li>
                                <a href="news-details.html"><i class="fas fa-user-circle"></i>Admin</a>
                            </li>
                            <li>
                                <a href="news-details.html"><i class="fas fa-comments"></i>2 Comments</a>
                            </li>
                        </ul>
                        <h3 class="blog-one__title">
                            <a href="news-details.html">
                                Rent a private jet everything
                                you need to know about cost
                            </a>
                        </h3>
                        <div class="blog-one__btn">
                            <a href="news-details.html">Read More<span class="icon-right-arrow"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Blog One Single End-->
        </div>
    </div>
</section>
<!--Blog One End-->
<!--Newsletter One Start-->
<section class="newsletter">
    <div class="newsletter__shape-1 float-bob-y">
        <img src="~/website/images/shapes/newsletter-shape-1.png" alt="">
    </div>
    <div class="newsletter__shape-2 float-bob-x">
        <img src="~/website/images/shapes/newsletter-shape-2.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5">
                <div class="newslettwe_left">
                    <div class="section-title text-left">
                        <span class="section-title__tagline">Subscribe Now</span>
                        <h2 class="section-title__title">
                            Want to know about
                            <br> our offers first?
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7">
                <div class="newsletter__right">
                    <form class="newsletter__form">
                        <div class="newsletter__input-box">
                            <input type="email" placeholder="Enter email address" name="email">
                            <button type="submit" class="newsletter__btn">
                                Subscribe<i class="fas fa-plane"></i>
                            </button>
                        </div>
                    </form>
                    <div class="checked-box">
                        <input type="checkbox" name="skipper1" id="skipper" checked="">
                        <label for="skipper"><span></span>I've read and accept the Privacy Policy.</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Newsletter One End-->